#outermost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 80%;
    height: 550px;
    background-color: hsl(172, 42%, 86%);
    margin-left: 150px;
    margin-top: 50px;
}
* {
      font-family: 'Space Mono', monospace;
}
.outerdiv{
    margin-bottom: 35px;
    font-size: x-small;
    color: hsl(183, 100%, 15%);
    font-weight: bold;
}
#main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 60%;
    height: 350px;
    border-radius: 20px; 
    font-family: space;
}
.right{
    width: 45%;
    height: 275px;
    
}
.inputdiv{
    position: relative;
    width: 250px;
    height: 50px;
    justify-content: center;
    align-items: center;
}
#inp{
    width: 170px;
    height: 12px;
    padding: 10px 40px;
    border: none;
    outline: none;
    background-color:hsl(185, 41%, 84%);
    margin-top: 5px;
    border-radius: 5px;
    opacity: 20%;
}
.lefticon{
    position: absolute;
    padding-left: 20px;
    padding-top: 15px;
    color: hsl(186, 14%, 43%);
    font-size: small;
    font-weight: lighter;
}
.Righticon{
     position: absolute;
     right: 15px;
     top: 15px;
     color: hsl(186, 14%, 43%);
     font-size: small;
     font-weight: lighter;
}
.textdiv{
    width: 200px;
    height: 20px;
    margin-top: 20px;
}
#tip{
    color: hsl(186, 14%, 43%);
}
#group1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    height: 30px;
    margin-top: 10px;
}
.bt{
    border-radius: 3px;
    width: 75px;
    height: 30px;
    color: white;
    border: none;
    outline: none;
    background-color:hsl(183, 100%, 15%) ;
}
#group2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    width: 250px;
    height: 30px;
}
.bt1{
    border-radius: 3px;
    width: 75px;
    height: 30px;
    color: white;
    border: none;
    outline: none;
    background-color:hsl(183, 100%, 15%) ;
}
.div1{
    width: 200px;
    height: 20px;
    margin-top: 20px;
    
}
.inputdiv2{
    position: relative;
    width: 250px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
}
#inp2{
    width: 170px;
    height: 12px;
    padding: 10px 40px;
    border: none;
    outline: none;
    background-color:hsl(185, 41%, 84%);
    margin-top: 5px;
    border-radius: 5px;
    opacity: 20%;
}
.leftoutermost{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 300px;
    border: 1px solid rgb(7, 6, 6);
    border-radius: 20px;
    background-color:hsl(183, 100%, 15%);
}
.left{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    border-radius: 20px;
}
.leftdiv1{
    width: 50%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    font-size: x-small;
    color: white;
    padding-right: 20px;
}
.tipbox{
    margin-top: 45px;
    
}
.totaldollar{
    padding-right: 10px;
}
.leftdiv2{
    width: 50%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.bottombtn{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   justify-items: center;
   margin-top: 85px;
}
#resetbtn{
    width: 230px;
    height: 35px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color:hsl(172, 67%, 45%);
    opacity: 10%;
}